body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:20px;
    font-weight: 600;
    background-color: #1f1f1f;
    color: white;
}
.head-container{
    display: flex;
    justify-content: space-between;
}
#logo{
    font-weight: 700;
    font-size: 30px;
    margin-right: 70px;
    
}
#login, #explore, #rent{
    text-align: center;
}
#search-bar{
    width: 900px;
    margin-right: 20px;
}
#search{
    padding: 10px;
    border-radius: 8px;
    width:  100%;
    color:black;
}
.round {
    flex: 3;
    position: relative;
    padding: 5px;
    border-radius: 8px;
    width: 50%;
    background-color: #262626;
    height: 25px;
    margin-left: 5px;
}
.block{
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
    background-color: #262626;
}
#aboutus, .forent{
    font-size: 30px;
    margin-bottom: 20px;
}
.details {
    display: flex;
    justify-content: space-between;
}
.icon-details {
    display: flex;
    margin: 20px;
}
.text{
    margin: 40px 20px;
}
.clock{
    width: min-content;
    margin-right: 100px;
    justify-content: center;
}
